<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Flight Search</title>
<script th:inline="javascript">
	var key = [[${key}]];
	var secret = [[${secret}]];
	var token = "";
	
	console.log(key);
	console.log(secret);
	
    fetch('https://test.api.amadeus.com/v1/security/oauth2/token', {
		body: `grant_type=client_credentials&client_id=${key}&client_secret=${secret}`,
		headers: {
		  "Content-Type": "application/x-www-form-urlencoded"
		},
		method: "POST"
		}
    )
    .then(res => res.json())
    .then(data => {
		token = data.access_token;
		console.log(token)
	})
	.catch(error => console.error('Error:', error));

</script>
</head>
<body>
	<h1>Search Flights</h1>
	<form id="flight-search-form">
		<label for="origin">Origin:</label> 
		<input type="text" id="origin" name="origin" required>
		<br>
		<label for="destination">Destination:</label>
		<input type="text" id="destination" name="destination" required>
		<br>
		<label for="departureDate">Departure Date:</label>
		<input type="date" id="departureDate" name="departureDate" required>
		<br>
		<button type="submit">Search</button>
	</form>

	<div id="results"></div>
</body>
<script>
document.getElementById('flight-search-form').addEventListener('submit', async (e) => {
	e.preventDefault();
	
	const origin = document.getElementById('origin').value;
	const destination = document.getElementById('destination').value;
	const departureDate = document.getElementById('departureDate').value;

	try {
		fetch(`https://test.api.amadeus.com/v2/shopping/flight-offers?originLocationCode=${origin}&destinationLocationCode=${destination}&departureDate=${departureDate}&currencyCode=USD&adults=1&travelClass=BUSINESS&max=10`, 
		{
			headers: {
			Authorization: `Bearer ${token}`
			}
		})
		.then(resp => resp.json())
		.then((results) => {
			console.log(results);
		})
	} catch (error) {
		console.error('Error:', error);
	}
});
</script>
</html>