<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索結果</title>
<th:block th:replace="~{fragments/header :: layout}"></th:block>
<script type="text/javascript" th:src="@{/js/searchResult.js}"></script>
</head>
<body class="bg-secondary-subtle">
    <div class="container py-5">
        <th:block th:replace="~{fragments/layout :: header(loginPage=false)}"></th:block>
        <div id="results" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <!-- 検索結果のカードがこちらに表示される -->
        </div>
        <th:block th:replace="~{fragments/layout :: footer}"></th:block>
    </div>
</body>
</html>