<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>会員登録</title>
	<th:block th:replace="~{fragments/header :: layout}"></th:block>
<!--	<script type="text/javascript" th:src="@{/js/signupViewJs.js}"></script>-->
	<script type="text/javascript" th:src="@{/js/signupViewJs.js}"></script>
</head>


<body class="bg-secondary-subtle">

	<div class="container py-5">
		<th:block th:replace="~{fragments/layout :: header(loginPage=true)}"></th:block>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card shadow-sm">
					<div class="card-body">
						<h2 class="card-title text-center mb-4">会員登録</h2>
						<!--						<div th:if="${message}" class="alert alert-info" role="alert" th:text="${message}"></div>-->
						<!-- 会員登録成功もダル th:if="${message}" -->
						<div th:if="${message}" id="myModal" class="modal" tabindex="-1" style="display: block; position: absolute; margin-bottom: 5px; width: 80%; top: 50%;
						  left: 50%;
						  transform: translate(-50%, -50%);">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" th:text="${message}"></h5>
										<button id="modal-x-btn" type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<p>ログイン画面に遷移しますか。</p>
									</div>
									<div class="modal-footer">
										<button id="close-modal" type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">いいえ</button>
										<a href="http://localhost:7080/login">
											<button type="button" class="btn btn-primary">ログイン画面へ</button>
										</a>
									</div>
								</div>
							</div>
						</div>

						<div th:if="${errorMsg}" class="alert alert-danger" role="alert" th:text="${errorMsg}"></div>
						<form action="#" th:action="@{/signup}" method="post" th:object="${signupForm}">
							<div class="mb-3">
								<label for="email" class="form-label">メールアドレス</label> <input type="email"
									class="form-control" id="email" th:field="*{email}">
								<div class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
									th:errors="*{email}"></div>
								<div th:if="${errorMsg}" class="form-text text-danger" th:text="${errorMsg}">
								</div>

							</div>

							<div class="mb-3">
								<label for="password" class="form-label">パスワード</label> <input type="password"
									class="form-control" id="password" th:field="*{password}">
								<div class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}"></div>
							</div>

							<div class="mb-3">
								<label for="nickname" class="form-label">ニックネーム</label> <input type="text"
									class="form-control" id="nickname" th:field="*{nickname}">
								<div class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}"
									th:errors="*{nickname}"></div>
							</div>

							<div class="d-grid gap-2">
								<button type="submit" class="btn btn-secondary">会員登録</button>
							</div>
						</form>

						<div class="mt-3 text-center">
							<a class="link-underline-secondary" th:href="@{/login}">既にアカウントをお持ちの方はこちら</a>
						</div>

					</div>
				</div>
			</div>
		</div>

		<th:block th:replace="~{fragments/layout :: footer}"></th:block>
	</div>
</body>

<!--<script>-->
<!--	const myModal = document.getElementById('myModal')-->
<!--	const ModalCloseBtn = document.getElementById("close-modal");-->
<!--	const modalXBtn = document.getElementById("modal-x-btn");-->

<!--	const closeModal = () => {-->
<!--		myModal.style.display = "none"-->
<!--	}-->

<!--	ModalCloseBtn.addEventListener("click", closeModal)-->
<!--	modalXBtn.addEventListener("click", closeModal)-->

<!--</script>-->

</html>