<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:fragment="header(loginPage)">
	<nav class="navbar navbar-expand-lg navbar-light bg-secondary-subtle"
		th:classappend="${loginPage} ? 'login-page-nav' : ''">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}"
				th:classappend="${loginPage} ? 'mx-auto' : ''"> <i
				class="fas fa-plane"></i> Search Flight
			</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation"
				th:classappend="${loginPage} ? 'd-none' : ''">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item" sec:authorize="!isAuthenticated()"
						th:classappend="${loginPage} ? 'd-none' : ''"><a
						class="nav-link" th:href="@{/login}">Login</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()">
						<form th:action="@{/logout}" method="post">
							<button class="btn btn-link nav-link" type="submit">Logout</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<footer th:fragment="footer">
	<div class="mt-5">
		<div class="text-center">
			<p>
				<small class="text-muted">Copyright</small>
			</p>
		</div>
	</div>
</footer>
</html>
