@media ( max-width : 992px) {
	.navbar-collapse {
		position: absolute;
		top: 56px;
		right: 0;
		padding-right: 15px;
		padding-left: 15px;
		width: 20%;
		height: calc(30vh - 56px);
		background-color: #f2f4f7;
		z-index: 1000;
		transition: 0.01s linear;
		transform: translateX(100%);
	}
	.navbar-collapse.show {
		transform: translateX(0);
	}
	.navbar-nav {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.navbar-nav .nav-item {
		margin: 10px 0;
	}
}

@media ( min-width : 992px) {
	.login-page-nav .navbar-collapse {
		display: none !important;
	}
	.login-page-nav .container-fluid {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
	}
	.login-page-nav .navbar-brand {
		position: static;
		transform: none;
		margin: 0;
	}
}